.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .columns article {
    flex-basis: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .columns h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  
  /* Стили для третьего блока */
  .blocks {
    display: flex;
    justify-content: space-between;
  }
  
  .blocks article {
    flex-basis: 22%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .blocks h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .blocks p {
    font-size: 12px;
    margin-bottom: 20px;
  }