

/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 12px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Стили для первого блока */
header {
  width: 100vw;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center; /* добавить эту строку, чтобы центрировать контент по горизонтали */
  align-items: center;
}

header figure {
  align-items: center;
  display: flex;
}

header img {
  width: 10vw;
  object-fit: cover;
  border-radius: 10px;
  margin-left: auto; /* добавить эту строку, чтобы переместить изображение вправо */
  margin-right: 20px;
}

header figcaption {
  margin-bottom: 10px;
}

.header p {
  font-size: 12px;
  margin-bottom: 20px;
}

/* Стили для второго блока */
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columns article {
  flex-basis: 30%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.columns h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

/* Стили для третьего блока */
.blocks {
  display: flex;
  justify-content: space-between;
}

.blocks article {
  flex-basis: 22%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.blocks h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.blocks p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .columns article {
    flex-basis: 45%;
  }
  .blocks article {
    flex-basis: 45%;
  }
}

@media (max-width: 480px) {
  .columns article {
    flex-basis: 90%;
  }
  .blocks article {
    flex-basis: 90%;
  }
}
